<div class="auth-layout-container" [class.sidebar-open]="isSidebarOpen">
  <div class="content-wrapper">
    <aside class="sidebar">
      <div class="sidebar-header">
        <div class="header-logo-container">
          <img src="assets/img/ford.png" alt="Logo Ford" class="top-ford-logo">
        </div>
        <button class="menu-toggle" (click)="toggleSidebar()">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <nav class="sidebar-nav-menu"> <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>