<div class="auth-layout-container">
  <div class="content-wrapper">
    <aside class="sidebar">
      <div class="header-logo-container"> <img src="../../../../img/ford.png" alt="Logo Ford" class="top-ford-logo">
      </div>
      <nav>
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      <img src="../../../../img/ranger.png" alt="Ford Ranger" class="main-ranger-image">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>