.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Ocupa todo o espaço disponível no main-content */
  width: 100%;
  height: 100%;
  /* Removidas propriedades de background-image e o pseudo-elemento ::before */
}

.welcome-card {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 2; /* Garante que o cartão fique acima da imagem */
  position: relative; /* Necessário para o z-index funcionar */
  width: 100%;
  max-width: 450px;
  color: #333;
}

.welcome-card h2 {
  color: #002D62;
  margin-bottom: 15px;
  font-size: 2.2em;
  font-weight: bold;
}

.welcome-card p {
  color: #555;
  font-size: 1.3em;
}